body{
    margin: 0% 0%;
}
.font-style{
    font-family: 'Libre Baskerville', serif;
}
.left-side{
    border-left: 3px solid;
    border-color: tomato;
    border-image-slice: 1;
    border-radius: 2px;
    padding-left: 3%;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
.line-space{
    line-height: 27px;
}
.flexible-container{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left: 8%;
}
.half-width img{
    width: 70%;  
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(rgb(255, 56, 56),rgb(179, 53, 238));
    /* background-color: orange ; */
    padding: 10px 20px;
    border-radius: 10px;
    color: white;
}
.orange{
    color: rgb(236, 81, 81);
}
#top-padd{
    padding-top: 7%;
}
.mission-center{
    text-align: center;
    font-size: 47px;
}
.third-width{
    width: 23%;
    padding-left: 3%;
    padding-top: 3%;
    padding-bottom: 4%;
}
.third-width img{
    width: 30%; 
}
section{
    margin-bottom: 100px;
}
.mission{
    background-color: rgba(161, 228, 221, 0.308);
    margin-right: 5px;
    margin-left: 8%;
    border-radius: 15px;
}
.vission{
    background-color: rgba(194, 116, 127, 0.308);
    margin-right: 5px;
    margin-left: 8%;
    border-radius: 15px;
}
.goals{
    background-color: rgba(68, 25, 255, 0.308);
    margin-right: 5px;
    margin-left: 8%;
    border-radius: 15px;
}
.padd{
    padding-right: 2%;
}
.back-pic{
    background-image: url(images/illustrator/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 18%;
    margin-left: 1%;
    /* margin-bottom: 50%; */
}
.back-pic-2nd{
    background-image: url(images/illustrator/shape-1.png);
    background-repeat: no-repeat;
    background-position: 75% 25%;
    /* padding-right: 30%; */
    /* margin-right: 10%; */

    background-size: 28%;
}
.custom-width img{
    width: 50%;
    margin-left: 14.5%;
}
.custom-area{
    text-align: left;
}
.agri-web-area{
    padding-top: 10%;
    padding-left: 5%;
}
.agri-web-img-area{
    margin-left: 3%;
}
.padd-top-social{
    padding-top: 10%;
}
#join{
    color: rgb(119, 190, 183);
    text-decoration: underline;
}
#social-img{
    width: 60%;
    /* position: 50% 50%; */
    padding: 15% 15% 15% 15%;
}
.foot-area{
    background-color: black;
    padding-top: 2%;
    padding-bottom: 2%;
    margin: 0% 0%;
}
.foot-font-style{
    color:white;
    text-align: center;   
}

#mission-font{
    font-family: 'Lobster', cursive;
    font-size: 25px;
}
#foot-color{
    color: rgb(218, 203, 2);
}

